*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f1f5f9;
    color:#111;
}

/* HEADER */
header{
    background:linear-gradient(90deg,#111827,#1e3a8a);
    color:white;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

/* CONTAINER */
.container{
    max-width:1100px;
    margin:auto;
    padding:30px 20px;
}

/* CARD */
.card{
    background:white;
    border-radius:12px;
    padding:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

/* PRODUCTS GRID */
.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

/* BUTTON */
button{
    background:#2563eb;
    border:none;
    color:white;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
    transform:scale(1.05);
}

.logout{
    background:#ef4444;
}

.logout:hover{
    background:#dc2626;
}

/* FORM */
.form-box{
    max-width:400px;
    margin:80px auto;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

/* CART */
.cart{
    margin-top:30px;
}

.cart p{
    margin:8px 0;
}

/* LINK */
a{
    color:#2563eb;
    text-decoration:none;
}
